# Environment Files
*.env
*.env.dev
*.env.prod
*.pem

# OS-Specific Files
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
.apdisk
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items

# Logs
*.log
npm-debug.log*

# Temporary and Backup Files
*~
*.swp
*.swo

# IDE and Editor Files
*.sublime-project
*.sublime-workspace
.idea/
*.iml
.vscode/

# Node Modules
node_modules/

# Python
__pycache__/
*.py[cod]
*.so
env/
venv/
build/
dist/
*.egg-info/
.installed.cfg
pip-log.txt
pip-delete-this-directory.txt
target/

# Django
db.sqlite3
local_settings.py

# Coverage and Testing
coverage/
.coverage
coverage.xml
nosetests.xml

# Static Files
static/

# React DevTools
packages/react-devtools-core/dist
packages/react-devtools-extensions/chrome/build
packages/react-devtools-extensions/chrome/*.crx
packages/react-devtools-extensions/chrome/*.pem
packages/react-devtools-extensions/firefox/build
packages/react-devtools-extensions/firefox/*.xpi
packages/react-devtools-extensions/firefox/*.pem
packages/react-devtools-extensions/shared/build
packages/react-devtools-extensions/.tempUserDataDir
packages/react-devtools-fusebox/dist
packages/react-devtools-inline/dist
packages/react-devtools-shell/dist
packages/react-devtools-timeline/dist

# Specific Project Directories
remote-repo/
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
chrome-user-data
_SpecRunner.html
__benchmarks__

# Build and Packaging
/demo/dist
/umd
migrations/